<div id="smooth-load">
    <div class="container">
        <div class="tall-image">
            <img src="../../../assets/img/tall/Τριανταφυλλο.JPG">
        </div>

        <div class="product">
            <h1 class="title">Rose</h1>
            <h2 class="price">$100</h2>
            <div class="desc">
                <h3>Διαστάσεις</h3>
                <ul>
                    <li class="dimensions">35 x 50 εκ.</li>
                    <li class="painting-type">Ακρυλικό</li>
                </ul>
            </div>
            <div class="buttons">
                <button class="add"><fa name="fas fa-shopping-basket"></fa>&nbsp;προσθηκη στο καλαθι</button> &nbsp;
                <button class="like"><span>♥</span></button>
            </div>
        </div>
    </div>
</div>
<br>

<div id="smooth-load">
    <div class="container">
        <div class="wide-image">
            <img src="../../../assets/img/wide/Συκα.JPG">
        </div>

        <div class="product">
            <h1 class="title">Syka</h1>
            <h2 class="price">$70</h2>
            <div class="desc">
                <h3>Διαστάσεις</h3>
                <ul>
                    <li class="dimensions">50 x 30 εκ.</li>
                    <li class="painting-type">Ακρυλικό</li>
                </ul>
            </div>
            <div class="buttons">
                <button class="add"><fa name="fas fa-shopping-basket"></fa>&nbsp;προσθηκη στο καλαθι</button> &nbsp;
                <button class="like"><span>♥</span></button>
            </div>
        </div>
    </div>
</div>
<br>

<div id="smooth-load">
    <div class="container">
        <div class="ultra-wide-image">
            <img src="../../../assets/img/ultra-wide/Ναξος.JPG">
        </div>

        <div class="product">
            <h1 class="title">Naxos</h1>
            <h2 class="price">$130</h2>
            <div class="desc">
                <h3>Διαστάσεις</h3>
                <ul>
                    <li class="dimensions">100 x 40 εκ.</li>
                    <li class="painting-type">Ακρυλικό</li>
                </ul>
            </div>
            <div class="buttons">
                <button class="add"><fa name="fas fa-shopping-basket"></fa>&nbsp;προσθηκη στο καλαθι</button> &nbsp;
                <button class="like"><span>♥</span></button>
            </div>
        </div>
    </div>
</div>
<br>