<!-- <div class="container" *ngFor="let image of images">
    <a href="../../../assets/img/{{image}}.jpg" draggable="false">
        <img src="../../../assets/img/{{image}}.jpg" width="350" draggable="false">
    </a>
</div> -->

<div class="container">
    <div class="images">
        <img src="../../../assets/img/tall/Τριανταφυλλο.JPG">
    </div>

    <div class="product">
        <h1 class="name">Rose</h1>
        <h2 class="price">$100</h2>
        <div class="desc">
            <h3>Διαστάσεις</h3>
            <ul>
                <li>35 x 50 εκ.</li>
                <li>Ακρυλικό</li>
            </ul>
        </div>
        <div class="buttons">
            <button class="add"><fa name="fas fa-shopping-basket"></fa>&nbsp;προσθηκη στο καλαθι</button> &nbsp;
            <button class="like"><span>♥</span></button>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="images">
        <img src="../../../assets/img/tall/Τριανταφυλλο.JPG">
    </div>

    <div class="product">
        <h1 class="name">Rose</h1>
        <h2 class="price">$100</h2>
        <div class="desc">
            <h3>Διαστάσεις</h3>
            <ul>
                <li>35 x 50 εκ.</li>
                <li>Ακρυλικό</li>
            </ul>
        </div>
        <div class="buttons">
            <button class="add"><fa name="fas fa-shopping-basket"></fa>&nbsp;προσθηκη στο καλαθι</button> &nbsp;
            <button class="like"><span>♥</span></button>
        </div>
    </div>
</div>
<br>