<div id="smooth-load">
    <div class="blockquote-wrapper">
        <div class="blockquote">
            <h1>
                On catefor up to the fanar, turn off engine and car tsouls down
                nicely.
            </h1>
            <h4>&mdash;Vang 2019</h4>
        </div>
    </div>

    <img class="about" src="../../../assets/img/about.JPG" />

    <div class="container information">
        <h3>
            Super painter, sallonica arch dropout, because he alredy know these
            things, close to becoming OTE employee, has education as topograph
            at metsovo village.
        </h3>
        <h3>Ah, he also makes karavaks.</h3>
    </div>
</div>
