<!-- <div id="wrapper">
    <div class="container">
        <img class="about" src="../../../assets/img/about.JPG">
        <h3 class="quote">Στην κατηφόρα μέχρι το φανάρι, σβήνεις τη μηχανή και τσουλάει μια χαρά το αμάξι.</h3>
    </div>
</div> -->

<div id="wrapper">
    <div class="">
        <div class="product-title-info">
            <div>
                <div class="blockquote-wrapper">
                    <div class="blockquote">
                        <h1>
                            Στην κατηφόρα μέχρι το φανάρι, σβήνεις τη μηχανή και τσουλάει μια χαρά το αμάξι.
                        </h1>
                        <h4>&mdash;Vang 2019</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img class="about" src="../../../assets/img/about.JPG">
    
    <div class="container information">
        <h3>Φοβερός ζωγράφος, ντροπάουτ αρχιτεκτονικής γιατί ήξερε ήδη απ'αυτά, παραλίγο σταθερός υπάλληλος του ΟΤΕ, σπουδαγμένος τοπογράφος στο γραφικό χωριό του μετσόβου.</h3>
        <h3>Α, κάνει και καραβάκια.</h3>
    </div>
</div>