.container {
    font-family: var(--font);
    width: 100%;
    background: var(--body-bg-color);
    box-shadow: 5px 5px 15px var(--shadow-color);
    border-radius: 10px;
}

.information h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 14px 0;
    text-align: center;
    padding: 20px;
    color: var(--text-color);
}

.about {
    display: inline-block;
    transform: scale(0.8); //rotate(90deg);
    margin-top: 1em;
    margin-bottom: 2em;
    filter: drop-shadow(1px 5px 10px var(--border-color));
    border-radius: 10px;
}

/* center the blockquote in the page */
.blockquote-wrapper {
    display: flex;
    padding-bottom: 10px;
}

/* Blockquote main style */
.blockquote {
    position: relative;
    font-weight: 100 !important;
    font-style: italic;
    font-size: 28px;
    padding: 30px 0;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    margin: 80px auto;
    align-self: center;
    // border-top: solid 1px;
    // border-bottom: solid 1px;

    h1 {
        font-size: 30px;
        quotes: "\201C""\201D""\2018""\2019";
        padding: 10px 20px;
        line-height: 1.4;
        color: var(--text-color);

        &:before {
            content: open-quote;
            display: inline;
            line-height: 0;
            left: -10px;
            position: relative;
            top: 30px;
            color: #ccc;
            font-size: 3em;
        }

        &:after {
            content: close-quote;
            display: inline;
            line-height: 0;
            left: 10px;
            position: relative;
            top: 35px;
            color: #ccc;
            font-size: 3em;
        }
    }

    h4 {
        text-align: right;
        position: relative;
        color: var(--text-color);
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        padding-top: 10px;
        z-index: 1;
    }
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 30px;
    }
}
