// @import url(../src/assets/css/grid-layout.css);

/* Variables */


/* Universal setup */
body {
	background-color: rgb(241, 241, 241);
	background-image: var(--bg-color);
	background-size: cover;
	background-position: top center;
}



/* Smooth Load */
#smooth-load {
    max-width: 70em;
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    opacity: 1;
    filter: none;
    -moz-transition: opacity 1s ease, -moz-filter 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-filter 1s ease;
    -ms-transition: opacity 1s ease, -ms-filter 1s ease;
    transition: opacity 1s ease, filter 1s ease;
}

/* Poptrox */
.poptrox-popup {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #fff;
	border-radius: 4px;
	overflow: hidden;
}

.poptrox-popup .closer {
	-moz-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	text-decoration: none;
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 2;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	white-space: nowrap;
	text-indent: 2.5em;
	overflow: hidden;
	width: 2.5em;
	height: 2.5em;
	display: block;
}

// .poptrox-popup .closer:before {
// 	content: "";
// 	-moz-osx-font-smoothing: grayscale;
// 	-webkit-font-smoothing: antialiased;
// 	font-family: FontAwesome;
// 	font-style: normal;
// 	font-weight: normal;
// 	text-transform: none !important;
// }

.poptrox-popup .closer:before {
	display: block;
	position: relative;
	text-indent: 0;
	border-radius: 100%;
	box-shadow: inset 0 0 0 1px #ffffff;
	color: #ffffff !important;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
}

.poptrox-popup:hover .closer {
	opacity: 0.5;
}

.poptrox-popup:hover .closer:hover {
	opacity: 1.0;
}

/* Smooth loading features */
.is-loading #smooth-load {
    opacity: 0;
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.is-covered #smooth-load {
    -moz-filter: blur(3px);
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.is-loading *, .is-loading *:before, .is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}