// @import url(../src/assets/css/grid-layout.css);
// @import url(assets/bulma/bulma.sass);

@import url(assets/bulma/css/bulma.min.css);

/* Variables */
/* Use css variables that are dynamic <- */
:root {
    /* Colors */
    --white-color: #f0f0f0;
    --dark-color: #4e4e4e;
    --body-bg-color: #f0f0f0;
    --dark-bg: "";
    --text-color: #4e4e4e;
    --anchor-color: #ffffff;
    --border-color: #181818;
    --shadow-color: rgba(24, 24, 24, 0.5);
    --underline-color: rgb(152, 152, 152);
    --yellow: #fedd56;
    --price-yellow: #fad43b;

    /* Font */
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

/* Universal setup */
body {
    background-color: var(--body-bg-color);
    background-image: var(--dark-bg);
    background-size: cover;
    background-position: top center;
}

/* Smooth Load */
#smooth-load {
    max-width: 70em;
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    opacity: 1;
    filter: none;
    transition: opacity 1s ease, filter 1s ease;
}

/* Poptrox */
.poptrox-popup {
    box-sizing: content-box;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #fff;
    border-radius: 4px;
    overflow: hidden;
}

.poptrox-popup .closer {
    transition: opacity 0.2s ease-in-out;
    text-decoration: none;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2;
    // -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    white-space: nowrap;
    text-indent: 2.5em;
    overflow: hidden;
    width: 2.5em;
    height: 2.5em;
    display: block;
}

// .poptrox-popup .closer:before {
// 	content: "ï€";
// 	-moz-osx-font-smoothing: grayscale;
// 	-webkit-font-smoothing: antialiased;
// 	font-family: FontAwesome;
// 	font-style: normal;
// 	font-weight: normal;
// 	text-transform: none !important;
// }

.poptrox-popup .closer:before {
    display: block;
    position: relative;
    text-indent: 0;
    border-radius: 100%;
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #ffffff !important;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
}

.poptrox-popup:hover .closer {
    opacity: 0.5;
}

.poptrox-popup:hover .closer:hover {
    opacity: 1;
}

/* Smooth loading features */
.is-loading #smooth-load {
    opacity: 0;
    filter: blur(1px);
}

.is-covered #smooth-load {
    filter: blur(3px);
}

.is-loading *,
.is-loading *:before,
.is-loading *:after {
    animation: none !important;
    transition: none !important;
}
