<!-- Thumbnails -->
<div id="wrapper">
    <section id="main">
        <section class="thumbnails">
            <div>
                <a href="../../../assets/img/image1.jpg" draggable="false">
                    <img src="../../../assets/img/image1-thumb.jpg" alt="" draggable="false">
                    <h3>Rose</h3>
                </a>
            </div>
            <div>
                <a href="../../../assets/img/image3.jpg" draggable="false">
                    <img src="../../../assets/img/image3-thumb.jpg" alt="" draggable="false">
                    <h3>Pumkin</h3>
                </a>
                <a href="../../../assets/img/image4.jpg" draggable="false">
                    <img src="../../../assets/img/image4-thumb.jpg" alt="" draggable="false">
                    <h3>Waves</h3>
                </a>
            </div>
            <div>
                <a href="../../../assets/img/image2.jpg" draggable="false">
                    <img src="../../../assets/img/image2-thumb.jpg" alt="" draggable="false">
                    <h3>Ver Meer</h3>
                </a>
            </div>
        </section>
    </section>
</div>