<!-- Thumbnails -->
<div id="wrapper">
    <section id="main">
        <section class="thumbnails">
            <div>
                <a href="../../../assets/img/image1.jpg" draggable="false">
                    <img src="../../../assets/img/image1.jpg" alt="" draggable="false">
                    <h3>Rose</h3>
                </a>
                <a href="../../../assets/img/wide/Βαρκα.JPG" draggable="false">
                    <img src="../../../assets/img/wide/Βαρκα.JPG" alt="" draggable="false">
                    <h3>Boat</h3>
                </a>
                <a href="../../../assets/img/wide/Φρουτα.JPG" draggable="false">
                    <img src="../../../assets/img/wide/Φρουτα.JPG" alt="" draggable="false">
                    <h3>Fruit</h3>
                </a>
                <a href="../../../assets/img/tall/Παπαρουνες.JPG" draggable="false">
                    <img src="../../../assets/img/tall/Παπαρουνες.JPG" alt="" draggable="false">
                    <h3>Paparounes</h3>
                </a>
                <a href="../../../assets/img/wide/Φυλλα.JPG" draggable="false">
                    <img src="../../../assets/img/wide/Φυλλα.JPG" alt="" draggable="false">
                    <h3>Leaves</h3>
                </a>
            </div>
            <div>
                <a href="../../../assets/img/image3.jpg" draggable="false">
                    <img src="../../../assets/img/image3.jpg" alt="" draggable="false">
                    <h3>Pumkin</h3>
                </a>
                <a href="../../../assets/img/image4.jpg" draggable="false">
                    <img src="../../../assets/img/image4.jpg" alt="" draggable="false">
                    <h3>Waves</h3>
                </a>
                <a href="../../../assets/img/wide/Θαλασσα3.JPG" draggable="false">
                    <img src="../../../assets/img/wide/Θαλασσα3.JPG" alt="" draggable="false">
                    <h3>Sea</h3>
                </a>
                <a href="../../../assets/img/tall/Ασκηση.JPG" draggable="false">
                    <img src="../../../assets/img/tall/Ασκηση.JPG" alt="" draggable="false">
                    <h3>Trees</h3>
                </a>
                <a href="../../../assets/img/tall/Αλατιερα.JPG" draggable="false">
                    <img src="../../../assets/img/tall/Αλατιερα.JPG" alt="" draggable="false">
                    <h3>Salt</h3>
                </a>
            </div>
            <div>
                <a href="../../../assets/img/image2.jpg" draggable="false">
                    <img src="../../../assets/img/image2.jpg" alt="" draggable="false">
                    <h3>Ver Meer</h3>
                </a>
                <a href="../../../assets/img/tall/Dali.JPG" draggable="false">
                    <img src="../../../assets/img/tall/Dali.JPG" alt="" draggable="false">
                    <h3>Dali</h3>
                </a>
                <a href="../../../assets/img/wide/Ροδακινα.JPG" draggable="false">
                    <img src="../../../assets/img/wide/Ροδακινα.JPG" alt="" draggable="false">
                    <h3>Peach</h3>
                </a>
                <a href="../../../assets/img/tall/Μολυβι.JPG" draggable="false">
                    <img src="../../../assets/img/tall/Μολυβι.JPG" alt="" draggable="false">
                    <h3>Pencil</h3>
                </a>
                <a href="../../../assets/img/ultra-wide/Ναξος.JPG" draggable="false">
                    <img src="../../../assets/img/ultra-wide/Ναξος.JPG" alt="" draggable="false">
                    <h3>Naxos</h3>
                </a>
            </div>
        </section>
    </section>
</div>