<div id="smooth-load">
    <section id="main">
        <section class="thumbnails">
            <div id="mainContent" class="container">
                <br><br><br><br><br><br><br><br>
                <br><br><br><br>
                <h1 class="title" style="text-align: center; color: var(--text-color)">Εδώ οι καλοί πίνακες.</h1>
                <br><br><br><br>
                <br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br>
            </div>
        </section>
    </section>
</div>