<!-- <footer class="block">
    <section class="hero is-dark">
        <div class="container">
            <img src="../../../assets/img/logo.png" draggable="false">
        </div>
    </section>
</footer> -->
<footer>
    <div class="container">
        <div class="columns">
            <div class="column footer-navigation">
                <a href="/"><img src="../../../assets/img/logo.png" draggable="false" width="225px"></a>
                <p class="links">
                    <a href="/gallery">Πίνακες</a><strong> · </strong>
                    <a routerLink="/">Τιμές</a><strong> · </strong>
                    <a routerLink="/">Παραγγελία</a>
                </p>
                <p class="company-name">ART Σχέδιο © 2019</p>
            </div>

            <div class="column footer-contacts">
                <div>
                    <span class="fa fa-map-marker footer-contacts-icon"></span>
                    <p>
                        <span class="new-line-span">Ραιδεστού 18</span> Σέρρες
                    </p>
                </div>
                <div>
                    <i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +30 6946550215</p>
                </div>
                <div>
                    <i class="fa fa-envelope footer-contacts-icon"></i>
                    <p>
                        <a href="mailto:evang.papap@gmail.com" target="_blank">evang.papap@gmail.com</a>
                    </p>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="column footer-about">
                <h4>Σχετικά με το ART Σχέδιο</h4>
                <p>Πληροφορίες...</p>
                <div class="social-links social-icons">
                    <a href="https://www.instagram.com/">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://www.twitter.com/">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/Oblivious-Oblivious">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>