<footer>
    <div class="container">
        <div class="block">
            <div class="columns">
                <div class="column footer-navigation">
                    <a href="/"><img src="../../../assets/img/logo.png" draggable="false" width="195px"></a>
                    <p class="links">
                        <a href="/gallery">Πίνακες</a><strong> · </strong>
                        <a routerLink="/">Τιμές</a><strong> · </strong>
                        <a routerLink="/">Παραγγελία</a>
                    </p>
                    <p class="company-name">ART Σχέδιο © 2019</p>
                </div>

                <div id="divider" class="column is-2"></div>

                <div class="column footer-contacts">
                    <div>
                        <span class="fa fa-map-marker footer-contacts-icon"></span>
                        <p>
                            Ραιδεστού 18 <span class="new-line-span"></span> Σέρρες
                        </p>
                    </div>
                    <div>
                        <i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left"> +30 6946550215</p>
                    </div>
                    <div>
                        <i class="fa fa-envelope footer-contacts-icon"></i>
                        <p>
                            <a href="mailto:evang.papap@gmail.com" target="_blank">evang.papap@gmail.com</a>
                        </p>
                    </div>
                </div>

                <div id="divider" class="column is-2"></div>

                <div class="column footer-about">
                    <h4>Σχετικά με το ART Σχέδιο</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consectetur perspiciatis facilis. Nulla, dolore alias.</p>
                    <div class="social-links social-icons">
                        <a href="https://www.facebook.com/">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>