<ul class="steps is-narrow is-medium is-centered has-content-centered">
    <li id="step-1" class="steps-segment has-gaps is-active">
        <a class="has-text-dark">
            <span id="step-1-marker" class="steps-marker">
                <span class="icon">
                    <i class="fas fa-shopping-cart"></i>
                </span>
            </span>
            <div class="steps-content">
                <p class="heading">shopping cart</p>
            </div>
        </a>
    </li>
    <li id="step-2" class="steps-segment has-gaps">
        <a class="has-text-dark">
            <span id="step-2-marker" class="steps-marker is-hollow">
                <span class="icon">
                    <i class="fas fa-user"></i>
                </span>
            </span>
            <div class="steps-content">
                <p class="heading">user information</p>
            </div>
        </a>
    </li>
    <li id="step-3" class="steps-segment has-gaps">
        <a class="has-text-dark">
            <span id="step-3-marker" class="steps-marker is-hollow">
                <span class="icon">
                    <i class="fa fa-euro"></i>
                </span>
            </span>
            <div class="steps-content">
                <p class="heading">payment</p>
            </div>
        </a>
    </li>
    <li id="step-4" class="steps-segment has-gaps">
        <a class="has-text-dark">
            <span id="step-4-marker" class="steps-marker is-hollow">
                <span class="icon">
                    <i class="fas fa-check"></i>
                </span>
            </span>
            <div class="steps-content">
                <p class="heading">confirmation</p>
            </div>
        </a>
    </li>
</ul>
