<nav class="navbar is-fixed-top is-dark">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" routerLink="/">
                <img src="../../../assets/img/logo.png" draggable="false">
            </a>
            <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" data-target="navbarTarget">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarTarget" class="navbar-menu" #navMenu>
            <div class="navbar-start">
            </div>

            <div class="navbar-end" style="margin-right: 1rem;">
                <a id="underlined-link" class="navbar-item" routerLink="/">Αρχική</a>
                <div id="underlined" class="navbar-item has-dropdown is-hoverable">
                    <a id="dropdown" class="navbar-item" href="/gallery">Έργα</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/gallery">Όλοι οι πίνακες</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/gallery">Αγορά</a>
                    </div>
                </div>
                <a id="underlined-fix" class="navbar-item">Επικοινωνία</a>
                <div class="navbar-item">
                    <div class="buttons">
                        <a id="theme-toggle" (click)="toggleTheme()" class="button is-warning is-outlined" #darkThemeToggle>
                            <fa name="fad fa-paint-brush"></fa>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<hr>