// .navbar-brand {
//     #art {
//         color: rgb(254, 221, 86);
//     }
//     #sxedio {
//         color: rgb(244, 244, 244);
//     }
//     font-weight: bold;
// }

// #theme-toggle {
//     border-radius: 50%;
// }

#navbarTarget {
    a {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-weight: 300;
    }

    .navbar-dropdown {
        a {
            font-family: "Source Sans Pro", Helvetica, sans-serif;
            font-weight: 500;
            // font-size: 15px;
        }
    }
}

#underlined-home, #underlined-gallery, #underlined-buy, #underlined-about {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;

    &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 10px;
        content: "";
        display: block;
        height: 0.5px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.5s ease 0s, left 0.5s ease 0s;
        width: 0;
    }
}

#underlined-home {
    &:hover:after {
        width: 63%;
        left: 0.79rem;
    }
}

#underlined-gallery {
    &:hover:after {
        width: 65%;
        left: 0.83rem;
    }
}

#underlined-buy {
    &:hover:after {
        width: 63%;
        left: 0.81rem;
    }
}

#underlined-about {
    &:hover:after {
        width: 75%;
        left: 0.85rem;
    }
}

#dropdown {
    color: rgb(244, 244, 244);
    &:hover {
        background: rgb(43, 43, 43);
    }
}

// #navbarTarger {
//     $mobile: var(--mobile);

//     @if $mobile {
//         #dropdown {
//             color: rgb(43, 43, 43);
//             &hover {
//                 background: #fff;
//             }
//         }
//     } @else {
//         #dropdown {
//             color: rgb(244, 244, 244);
//             &:hover {
//                 background: rgb(43, 43, 43);
//             }
//         }
//     }
// }

// FIIIIIIIIIIIIIIIIIIIX
