// .navbar-brand {
//     #art {
//         color: rgb(254, 221, 86);
//     }
//     #sxedio {
//         color: rgb(244, 244, 244);
//     }
//     font-weight: bold;
// }

// #theme-toggle {
//     border-radius: 50%;
// }

#navbarTarget {
    background: rgb(54, 54, 54);

    a {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-weight: 300;
    }
}

#brand {
    &:hover {
        background: rgb(54, 54, 54);
    }
}

#underlined-home,
#underlined-gallery,
#underlined-buy,
#underlined-about {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: #fff;

    &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 10px;
        content: "";
        display: block;
        height: 0.5px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.5s ease 0s, left 0.5s ease 0s;
        width: 0;
    }

    &:hover {
        background: rgb(54, 54, 54);
    }
}

#underlined-home {
    &:hover:after {
        width: 63%;
        left: 0.79rem;
    }
}

#underlined-gallery {
    &:hover:after {
        width: 65%;
        left: 0.83rem;
    }
}

#underlined-buy {
    &:hover:after {
        width: 63%;
        left: 0.81rem;
    }
}

#underlined-about {
    &:hover:after {
        width: 75%;
        left: 0.85rem;
    }
}

a.navbar-item.is-active {
    background: rgb(54, 54, 54);
}

is-home-selected {
    text-decoration: underline;
}

is-gallery-selected {
    text-decoration: underline;
}

is-shop-selected {
    text-decoration: underline;
}

is-about-selected {
    text-decoration: underline;
}
